<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.almanacmedia.dealchasr.dealchasr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA8Qo2wr0nbDmOQeU78_0mtQcyo9wr34ew" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/dealspotrlogo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name="uk.co.almanacmedia.dealchasr.dealchasr.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.co.almanacmedia.dealchasr.dealchasr.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uk.co.almanacmedia.dealchasr.dealchasr.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uk.co.almanacmedia.dealchasr.dealchasr.MainMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uk.co.almanacmedia.dealchasr.dealchasr.NewAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="uk.co.almanacmedia.dealchasr.dealchasr.VenueFragment"
            android:screenOrientation="portrait" />
        <activity android:name="uk.co.almanacmedia.dealchasr.dealchasr.ViewVoucherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="uk.co.almanacmedia.dealchasr.dealchasr.MyVouchersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="uk.co.almanacmedia.dealchasr.dealchasr.MyInterestsActivity"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".FCMMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>